.tweeter-handle {
    margin-left: 7px;
    color: grey;
}

.tweet-text {
    padding: 0;
    margin: 0;
}

.preview-img {
    border: 1px solid var(--ion-color-light);
    border-radius:  10px;
}

.highlight {
    color: var(--ion-color-primary);
}