<ion-tabs (ionTabsDidChange)="setSelectedTab()">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon [name]="selected === 'tab1' ? 'home': 'home-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon [name]="selected === 'tab2' ? 'search' : 'search-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-badge color="primary">1</ion-badge>
      <ion-icon [name]="selected === 'tab3' ? 'notifications' : 'notifications-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon [name]="selected === 'tab4' ? 'mail' : 'mail-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>