// ion-item.selected {
//     --color: var(--ion-color-primary);
//   }

ion-toolbar,
ion-header {
    --min-height: 150px;
}
ion-title {
    padding: 0;
    // margin: 0;
    align-items: baseline;
}
.user-title {
    font-size: 1.3rem;
    span{
        font-size: 0.8rem;
        display: block;
    }
}

ion-button {
    --padding-end: 15px;
    --padding-top: 24px;
}
