// ion-item.selected {
//     --color: var(--ion-color-primary);
//   }

// ion-toolbar,
ion-header {
    --min-height: 155px;
}
ion-title {
    padding: 0;
    align-items: baseline;
}
.user-info{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 25px;

    p {
        font-size: 1.3rem;
        span{
            font-size: 0.8rem;
            display: block;
        }
    }
}

.follow-info {
    display: flex;
    padding-bottom: 15px;

    span {
        margin-right: 15px;
    }
}

.divider {
    --min-height: 5px;
    // --border-width: 0 0 0.55px;
}